.img img{
  width:100%;
  object-fit: cover;
}
.App{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.page h1{
  text-align: center;
 

}
.page img{
  display: flex;
  justify-content: center !important;
  /* align-items: center;  */
  width: 250px;
}