.img img{
  width:100%;
  object-fit: cover;
}
body{
  background-image: url(/public/download.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */
  background-color: #fdf6f9;
  content: "";
  /* position: fixed; */

  margin: 0;
    padding-top: 70px;
    overflow-x: hidden;
    /* min-height: 100px !important; */
}
.App{
  display: flex;
  justify-content: center;
  /* align-items: center; */

}
.card {  
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  box-shadow: 0 4px 10px rgba(255, 111, 145, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.App button{
  background-color: #ff6f91;
border-radius: 25px;
  border: 2px solid #ff6f91;
  color: white;
  padding: 8px 15px;
  transition: all 0.3s ease;
  cursor: pointer;
    box-shadow: 0 4px 12px rgba(255, 111, 145, 0.25);

}
.App button:hover{
  background-color: #7c83fd;
  color: white;
  border-color: #7c83fd;
  border-radius: 25px;
  transform:scale(1.05);
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  
}
.App button:active {
  transform: scale(0.95);
}
.page h1{
  padding-top: 40px;
  text-align: center;
  color: #111827;
 

}
.page img{
  display: flex;
  justify-content: center !important;
  /* align-items: center;  */
  width: 250px;
  display: block;
  margin: 0 auto;
  
}

/* NAV */
.cute-navbar {
  width: 100% !important;
  position: fixed !important;
  z-index: 100000 !important;
  top: 0 !important;
  left: 0;
  /* right: 0;  */
  background: #fdf6f9;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  border-bottom: 2px solid #ff6f91;
}

.logo {
  color: #ff6f91 !important;
  font-weight: bold;
  font-size: 22px;
}

.nav-links a {
  color: #2f2f2f !important;
  margin-left: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff6f91 !important;
  transform: scale(1.05);
}
/* .container {
  background-image: url("https://i.pinimg.com/736x/87/fb/e6/87fbe6443e2e2d72fa9975dc01a49690.jpg");
  background-size: cover;
  background-position: center;
} */
.im{
   /* background: transparent;
  border: none; */
    /* filter: grayscale(100%) contrast(150%) brightness(120%); */
      /* filter: grayscale(100%) brightness(130%) contrast(130%); */
        /* filter: grayscale(20%) contrast(150%) brightness(110%); */
position: absolute;
z-index: -1;
transform: rotate(-39deg);
    margin: 100px 1100px 200px 200px;
}
.imbox{
  position: absolute;
z-index: -1;
    transform: rotate(30deg);
    margin: 600px 0px 0px 1000px;

}
.flower{
   position: absolute;
   z-index: -1;
  /* margin:-30px 0px 0px 1230px;*/
    width: 1000px; 
    margin-left: 250px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
